<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .table {
            font-size: x-large;
            width: 100%;
            background-color: deepskyblue;
            color: black;
        }
    </style>
</head>
<body>
<h1 style="text-align:center; color: dodgerblue;background-color: greenyellow">Nội Dung Blog</h1>
<a href="/blog">Trở về trang chủ</a><br>
<div class="row container">
    <div th:each="list, listStat:${blog}">
        <img style="width: 100%" th:src="${list.img}">
        <h1 th:text="${list.name}"></h1>
        <h4 th:text="${list.content}"></h4>
        <p th:text="${list.times}"></p>
        <p th:text="${list.blogType.name}"></p>
    </div>
</div>
</body>
</html>
</body>
</html>