<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container{
            width: 100%;
            font-size: x-large;
            background-color: lightskyblue;
        }
    </style>
</head>
<body>
<div class="container">
<form method="post" action="/blog/add" th:object="${blog}">
    <div>
        <label for="name">name:</label>
        <input id="name" type="text" th:field="*{name}">
    </div>
    <div>
        <label for="content">Content:</label>
        <textarea cols="20" rows="10" id="content"  th:field="*{content}">
        </textarea>
    </div>
    <div>
        <label for="time">Time:</label>
        <input id="time" type="datetime-local" th:field="*{times}" readonly>
    </div>
    <div>
        <label for="img">img:</label>
        <input id="img" type="text" th:field="*{img}">
    </div>
    <input type="submit">
</form>
</div>
</body>
</html>