<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/books/add" th:object="${add}">
    <div>
        <label for="title">title:</label>
        <input id="title" type="text" th:field="*{title}">
    </div>
    <div>
        <label for="author">Author:</label>
       <input id="author" type="text" th:field="*{author}">
    </div>
    <div>
        <label for="description">description:</label>
        <input id="description" type="text" th:field="*{description}">
    </div>
    <div>
        <label for="quantity">quantity:</label>
        <input id="quantity" type="number" th:field="*{quantity}">
    </div>
    <input type="submit">
</form>
</body>
</html>