<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/music/form-add">thêm mới bài hát</a>
<p style="color: blue" th:text="${msg}"></p>
<form th:object="${music}">
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name Of TheSong</th>
            <th>name Of Singers</th>
            <th>kind Of Music</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="list, listStart:${music}">
            <td th:text="${list.id}"></td>
            <td th:text="${list.nameOfTheSong}"></td>
            <td th:text="${list.nameOfSingers}"></td>
            <td th:text="${list.kindOfMusic}"></td>
            <td><a th:href="@{/music/{id}/edit(id=${list.getId()})}">edit</a></td>
            <td><a th:href="@{/music/{id}/delete(id=${list.getId()})}">delete</a></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>